In [74]:
import pandas as pd
from sklearn import datasets 

dfFeature = pd.read_csv(r"C:\Users\Administrator\Downloads\final_physico-chemical_result.csv", encoding ='latin1')
dfTrain = pd.read_csv(r"C:\Users\Administrator\Downloads\iqb2020\train.csv", encoding ='latin1')

In [75]:
dfFeature.head()

,ID,Positively charged,Negatively charged,Neutral charged,Polarity,Non polarity,Aliphaticity,Cyclic,Aromaticity,Acidicity,Basicity,Hydrophobicity,Hydrophilicity,Neutral,Hydroxylic,Tiny,Small
0,Seq_1,0.061,0.091,0.848,0.424,0.394,0.303,0.000,0.152,0.091,0.061,0.485,0.091,0.485,0.182,0.455,0.636
1,Seq_2,0.200,0.067,0.733,0.200,0.467,0.400,0.067,0.133,0.067,0.200,0.467,0.333,0.200,0.067,0.333,0.533
2,Seq_3,0.137,0.098,0.765,0.412,0.294,0.255,0.020,0.098,0.098,0.137,0.490,0.216,0.353,0.157,0.294,0.549
3,Seq_4,0.226,0.075,0.698,0.377,0.302,0.208,0.019,0.075,0.075,0.226,0.453,0.264,0.377,0.189,0.415,0.585
4,Seq_5,0.321,0.062,0.617,0.235,0.370,0.321,0.025,0.099,0.062,0.321,0.395,0.358,0.272,0.086,0.235,0.420

In [194]:
dfTrain.head()

     ID Lable                                           Sequence
0  1001    -1                  GGTIFDCGESCFLGTCYTKGCSCGEWKLCYGTN
1  1002     1                                    LEKARHGSCNYVFPA
2  1003     1  KQLKTCTSVIKLGHPCDIESCLNECFRVYNTGFATCRGDKYSQLCT...
3  1004     1  SMVAEARTCESQSHKFKGPCASDHNCASVCQTERFSGGHCRGFRRR...
4  1005     1  AKKRKKKTYTKPKKIKHKHKKVKLAVLQFYKIDGSGKVQRLRKECP...

In [195]:
from sklearn.model_selection import train_test_split

In [196]:
dfFeature['target'] = list(dfTrain.Lable)

In [197]:
dfFeature.head()

,ID,Positively charged,Negatively charged,Neutral charged,Polarity,Non polarity,Aliphaticity,Cyclic,Aromaticity,Acidicity,Basicity,Hydrophobicity,Hydrophilicity,Neutral,Hydroxylic,Tiny,Small,target
0,Seq_1,0.061,0.091,0.848,0.424,0.394,0.303,0.000,0.152,0.091,0.061,0.485,0.091,0.485,0.182,0.455,0.636,-1
1,Seq_2,0.200,0.067,0.733,0.200,0.467,0.400,0.067,0.133,0.067,0.200,0.467,0.333,0.200,0.067,0.333,0.533,1
2,Seq_3,0.137,0.098,0.765,0.412,0.294,0.255,0.020,0.098,0.098,0.137,0.490,0.216,0.353,0.157,0.294,0.549,1
3,Seq_4,0.226,0.075,0.698,0.377,0.302,0.208,0.019,0.075,0.075,0.226,0.453,0.264,0.377,0.189,0.415,0.585,1
4,Seq_5,0.321,0.062,0.617,0.235,0.370,0.321,0.025,0.099,0.062,0.321,0.395,0.358,0.272,0.086,0.235,0.420,1

In [198]:
X = dfFeature.drop(['ID','target'],axis='columns')
X.head()

,Positively charged,Negatively charged,Neutral charged,Polarity,Non polarity,Aliphaticity,Cyclic,Aromaticity,Acidicity,Basicity,Hydrophobicity,Hydrophilicity,Neutral,Hydroxylic,Tiny,Small
0,0.061,0.091,0.848,0.424,0.394,0.303,0.000,0.152,0.091,0.061,0.485,0.091,0.485,0.182,0.455,0.636
1,0.200,0.067,0.733,0.200,0.467,0.400,0.067,0.133,0.067,0.200,0.467,0.333,0.200,0.067,0.333,0.533
2,0.137,0.098,0.765,0.412,0.294,0.255,0.020,0.098,0.098,0.137,0.490,0.216,0.353,0.157,0.294,0.549
3,0.226,0.075,0.698,0.377,0.302,0.208,0.019,0.075,0.075,0.226,0.453,0.264,0.377,0.189,0.415,0.585
4,0.321,0.062,0.617,0.235,0.370,0.321,0.025,0.099,0.062,0.321,0.395,0.358,0.272,0.086,0.235,0.420

In [199]:
Y = dfFeature.target
Y.head()

0    -1
1     1
2     1
3     1
4     1
Name: target, dtype: object

In [200]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3)

In [201]:
len(x_train)

1785

In [202]:
len(x_test)

765

In [203]:
from sklearn.svm import SVC
model = SVC()

In [204]:
model.fit(x_train, y_train)

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [205]:
model.score(x_test,y_test)

0.7163398692810458